

.form-field {
    margin: 0 0 2.5rem 1rem;
    position: relative;
    display: inline-block;
    position: relative;
}
    .form-field::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.1rem;
        transform: scaleX(0%);
        transition: all 0.2s linear;
        border-radius: 1rem;
        background-color: var(--decorationColor);
    }
    .form-field.active::after {
        transform: scaleX(94%);
    }
    .form-field label {
        font-size: 1.25rem;
    }

.textInput {
    font-size: 1.25rem;
    margin-top: .25rem;
    padding: .5rem 2rem;
    border-radius: .5rem;
    background-color: var(--inputBackgroundColor);
}

.submitButton {
    font-size: 1rem;
    min-width: 6rem;
    background-color: transparent;
}
    .submitButton:hover {
        color: var(--decorationTextColor)
    }

.validation {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -1.1rem;
    font-size: .9rem;
}

.gloabal-validation {

}