@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*------------------------------------- Layout */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--textColor);
}

/* VARIABLES */
:root {
    --footerHeight: 3rem;
    --headerHeight: 5rem;
    --textColor: black;
    --decorationColor: rgb(215, 153, 51);
    --decorationTextColor: white;
    --inputBackgroundColor: #ededed;
}

.container {
    padding: 0 10rem;
}

.wrapper {
    min-height: 100%;
    margin-bottom: calc(-1 * var(--footerHeight));
}

.footer {
    height: var(--footerHeight);
    background-color: lightgray;
}

.push {
    height: var(--footerHeight);
}

.menu {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: white;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
}

a {
    color: var(--textColor);
    text-decoration: none;
}

input {
    border: none;
}
    input:focus-visible {
        outline: none;
    }

.menu-part {
    display: flex;
    height: var(--headerHeight);
}
    .menu-part a {
        padding: 1.25rem 2rem;
        font-size: 1.25rem;
        font-weight: 700;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        transition: border-color .3s ease;
        text-transform: uppercase;
    }
        .menu-part a:hover {
            border-bottom-color: var(--decorationColor);
        }

.menu-placeholder {
    height: var(--headerHeight);
}

.content {
    padding: 4rem 0;
}

.hidden {
    display: none;
}


/*------------------------------------- INDEX */

.header {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.sub-header {
    margin-bottom: 2rem;
}

.home-options {
    display: flex;
}
    .home-options > * {margin-right: 1rem;}

/*------------------------------------- BUTTON */

.button {
    min-width: 6rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    transition: all .2s ease;
    font-weight: 700;
}
    .button:hover {
        background-color: var(--decorationColor);
        cursor: pointer;
    }
    .button a {
        display: block;
        width: 100%;
        height: 100%;
    }
    .button:hover a {
        color: var(--decorationTextColor);
    }

.sub-button {
    min-width: 1rem;
    padding: .3rem;
    font-size: 1.3rem;
}

button.button {
    background-color: transparent;
    font-size: 1rem;
    width: 100%;
}
    button.button:hover {
        color: var(--decorationTextColor);
    }
    button.button.sub-button {
        min-width: 1rem;
        padding: .3rem;
        font-size: 1.3rem;
    }

button:focus-visible {
    outline: none;
}
