<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
        Hello World
    </div>
</body>
</html>
