@using TaskPlanner2.Models.ViewModel
@model SignupViewModel

@{
    ViewData["Title"] = "Sign Up";
}

@section styles {
    <link href="~/css/AccountControllerStyles.css" rel="stylesheet" asp-append-version="true" />
}

<h1 class="header">Let's create a personal account for you</h1>

<form asp-action="Signup" asp-controller="Account" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly" class="gloabal-validation"></div>

    <div class="form-field">
        <label asp-for="Login">Login:</label> <br />
        <input asp-for="Login" class="textInput" size="30" />
        <span asp-validation-for="Login" class="validation"/>
    </div> <br />

    <div class="form-field">
        <label asp-for="Email">Email address:</label> <br />
        <input asp-for="Email" class="textInput" size="30" />
        <span asp-validation-for="Email" class="validation"/>
    </div> <br />

    <div class="form-field">
        <label asp-for="Password">Password:</label> <br />
        <input asp-for="Password" class="textInput" size="30" />
        <span asp-validation-for="Password" class="validation"/>
    </div> <br />

    <div class="form-field">
        <label asp-for="ConfirmPassword">Confirm password:</label> <br />
        <input asp-for="ConfirmPassword" class="textInput" size="30" />
        <span asp-validation-for="ConfirmPassword" class="validation"/>
    </div> <br />

    <div class="form-field">
        <input type="submit" value="Sign up" class="submitButton button" />
    </div>
</form>

@section scripts {
    <script src="~/js/undelineInputs.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
} 