@using TaskPlanner2.Models.DataBase
@model SubTask

<li class="sub-task">
    <div class="sub-task-description">
        @Model.Description
    </div>

    <div class="sub-task-configuration">
        <button class="button sub-button">
            &#9881;
        </button>
    </div>
</li>