@using TaskPlanner2.Models.DataBase
@using TaskPlanner2.Models.ViewModel

@model User
@{
    ViewData["Title"] = "Tasks";
}

@section styles {
    <link href="~/css/tasks.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/form.css" rel="stylesheet" asp-append-version="true" />
}

<div class="modal-overlay" id="modal-overlay">
    <div class="modal-borders">
        @{ await Html.RenderPartialAsync("_AddTaskForm", new ToDoTaskViewModel { UserId = Model.Id }); }
        @{ await Html.RenderPartialAsync("_AddSubTaskForm", new SubTaskViewModel { UserId = Model.Id }); }
        @{ await Html.RenderPartialAsync("_ChangeTaskForm", new ToDoTaskViewModel { UserId = Model.Id }); }
        @{ await Html.RenderPartialAsync("_ChangeSubTaskForm", new SubTaskViewModel { UserId = Model.Id }); }
    </div>
</div>

<aside class="tasks-menu">
    <div>Menu</div>

    <button class="button modal-AddTask" modal-path="newTask">
        Add New Task
    </button>
</aside>

@if (Model.Tasks.Count == 0)
 {
    <h2 class="sub-header">No tasks</h2>
 }
else
{
    <ul class="tasks">
        @foreach (var task in Model.Tasks)
         {
            await Html.RenderPartialAsync("_Task", task);
         }
    </ul>
}

@section scripts {
    <script src="~/js/modalWindows.js" asp-append-version="true"></script>
    <script src="~/js/undelineInputs.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}