@{
    ViewData["Title"] = "Home";
}



<h1 class="header">The more you work, the more you note</h1>
<h2 class="sub-header">Welcome to the Task Planner!</h2>


<div class="home-options">

    <div class="button">
        <a asp-controller="Account" asp-action="Signup">
            Sign up
        </a>
    </div>

    <div class="button">
        <a asp-controller="Account" asp-action="Login">
            Log in
        </a>
    </div>

</div>
